### CELL 1: Imports & Environment Setup

In [213]:
# CELL 1: Imports & Setup

import pandas as pd
import re

print("Libraries imported successfully.")

Libraries imported successfully.

### CELL 2 & CELL 3: Load the Datasets

In [216]:
# CELL 2: lOAD SMSSmishCollection.txt dataset

dataset1_path = "SMSSmishCollection.txt"

# This file is tab-separated with two columns: label and text (no header row)
df_smish = pd.read_csv(dataset1_path, sep="\t", header=None, names=["label", "text"], encoding="utf-8")

print("=== Dataset 1: SMSSmishCollection.txt ===")
print("Shape:", df_smish.shape)
display(df_smish.head(40))

=== Dataset 1: SMSSmishCollection.txt ===
Shape: (5572, 2)

    label                                               text
0     ham  Go until jurong point, crazy.. Available only ...
1     ham                      Ok lar... Joking wif u oni...
2   smish  Free entry in 2 a wkly comp to win FA Cup fina...
3     ham  U dun say so early hor... U c already then say...
4     ham  Nah I don't think he goes to usf, he lives aro...
5   smish  FreeMsg Hey there darling it's been 3 week's n...
6     ham  Even my brother is not like to speak with me. ...
7     ham  As per your request 'Melle Melle (Oru Minnamin...
8   smish  WINNER!! As a valued network customer you have...
9   smish  Had your mobile 11 months or more? U R entitle...
10    ham  I'm gonna be home soon and i don't want to tal...
11  smish  SIX chances to win CASH! From 100 to 20,000 po...
12  smish  URGENT! You have won a 1 week FREE membership ...
13    ham  I've been searching for the right words to tha...
14    ham                I HAVE A DATE ON SUNDAY WITH WILL!!
15  smish  XXXMobileMovieClub: To use your credit, click ...
16    ham                         Oh k...i'm watching here:)
17    ham  Eh u remember how 2 spell his name... Yes i di...
18    ham  Fine if thats the way u feel. Thats the way ...
19  smish  England v Macedonia - dont miss the goals/team...
20    ham          Is that seriously how you spell his name?
21    ham    I‘m going to try for 2 months ha ha only joking
22    ham  So ü pay first lar... Then when is da stock co...
23    ham  Aft i finish my lunch then i go str down lor. ...
24    ham  Ffffffffff. Alright no way I can meet up with ...
25    ham  Just forced myself to eat a slice. I'm really ...
26    ham                     Lol your always so convincing.
27    ham  Did you catch the bus ? Are you frying an egg ...
28    ham  I'm back &amp; we're packing the car now, I'll...
29    ham  Ahhh. Work. I vaguely remember that! What does...
30    ham  Wait that's still not all that clear, were you...
31    ham  Yeah he got in at 2 and was v apologetic. n ha...
32    ham                      K tell me anything about you.
33    ham  For fear of fainting with the of all that hous...
34  smish  Thanks for your subscription to Ringtone UK yo...
35    ham  Yup... Ok i go home look at the timings then i...
36    ham    Oops, I'll let you know when my roommate's done
37    ham                       I see the letter B on my car
38    ham                        Anything lor... U decide...
39    ham  Hello! How's you and how did saturday go? I wa...

In [218]:
# CELL 3: lOAD Dataset_5971.xlsx dataset

dataset2_path = "Dataset_5971.xlsx"

# Read the first dataset (Excel)
df_5971 = pd.read_excel(dataset2_path) 

print("=== Dataset 2: Dataset_5971.xlsx ===")
print("Shape:", df_5971.shape)
display(df_5971.head(40))

=== Dataset 2: Dataset_5971.xlsx ===
Shape: (5971, 5)

,LABEL,TEXT,URL,EMAIL,PHONE
0,ham,Your opinion about me? 1. Over 2. Jada 3. Kusr...,No,No,No
1,ham,What's up? Do you want me to come online? If y...,No,No,No
2,ham,So u workin overtime nigpun?,No,No,No
3,ham,"Also sir, i sent you an email about how to log...",No,No,No
4,Smishing,Please Stay At Home. To encourage the notion o...,No,No,No
5,Smishing,BankOfAmerica Alert 137943. Please follow http...,yes,No,yes
6,ham,Sorry dude. Dont know how i forgot. Even after...,No,No,No
7,ham,I don't quite know what to do. I still can't g...,No,No,No
8,ham,Ok lor. Anyway i thk we cant get tickets now c...,No,No,No
9,ham,Wat r u doing now?,No,No,No
10,ham,Buy one egg for me da..please:),No,No,No
11,ham,Is there a reason we've not spoken this year? ...,No,No,No
12,ham,Stop the story. I've told him i've returned it...,No,No,No
13,ham,No. I dont want to hear anything,No,No,No
14,ham,Waqt se pehle or naseeb se zyada kisi ko kuch ...,No,No,No
15,ham,I'm e person who's doing e sms survey...,No,No,No
16,ham,Mm i had my food da from out,No,No,No
17,ham,"4 tacos + 1 rajas burrito, right?",No,No,No
18,ham,"House-Maid is the murderer, coz the man was mu...",No,No,No
19,ham,Yes! How is a pretty lady like you single?,No,No,No
20,ham,(That said can you text him one more time?),No,No,No
21,ham,I know she called me,No,No,No
22,ham,In sch but neva mind u eat 1st lor..,No,No,No
23,spam,lyricalladie(21/F) is inviting you to be her f...,No,No,yes
24,ham,Jay says that you're a double-faggot,No,No,No
25,ham,Ok i thk i got it. Then u wan me 2 come now or...,No,No,No
26,Smishing,UR awarded a City Break and could WIN a £200 S...,No,No,yes
27,spam,Hello from Orange. For 1 month's free access t...,yes,No,No
28,ham,Oh... Lk tt den we take e one tt ends at cine ...,No,No,No
29,ham,Whens your radio show?,No,No,No
30,ham,"Jane babes not goin 2 wrk, feel ill after lst ...",No,No,No
31,spam,New Offer! Save upto 40\% electricity bill wit...,No,No,yes
32,ham,What * u wearing?,No,No,No
33,ham,o turns out i had stereo love on mi phone unde...,No,No,No
34,ham,"Ela kano.,il download, come wen ur free..",No,No,No
35,ham,"Haha figures, well I found the piece and prisc...",No,No,No
36,ham,Can you do online transaction?,No,No,No
37,ham,Ü neva tell me how i noe... I'm not at home in...,No,No,No
38,Smishing,\tYOU HAVE WON! As a valued Vodafone customer ...,No,No,yes
39,spam,You will recieve your tone within the next 24h...,No,No,No

### CELL 4 & CELL 5: Display Dataset Overview

In [221]:
# CELL 4: Display Dataset Overview for SMSSmishCollection.txt dataset

print("=== Dataset 1: SMSSmishCollection.txt information ===")
df_smish.info()

print("\n=== Dataset 1: Missing values per column ===")
print(df_smish.isna().sum())

print("\n=== Dataset 1: Number of duplicate rows ===")
print(df_smish.duplicated().sum())

=== Dataset 1: SMSSmishCollection.txt information ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5572 non-null   object
 1   text    5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

=== Dataset 1: Missing values per column ===
label    0
text     0
dtype: int64

=== Dataset 1: Number of duplicate rows ===
403

In [223]:
# CELL 5: Display Dataset Overview for Dataset_5971.xlsx dataset

print("=== Dataset 2: Dataset_5971.xlsx information ===")
df_5971.info()

print("\n=== Dataset 2: Missing values per column ===")
print(df_5971.isna().sum())

print("\n=== Dataset 2: Number of duplicate rows ===")
print(df_5971.duplicated().sum())

=== Dataset 2: Dataset_5971.xlsx information ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5971 entries, 0 to 5970
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LABEL   5971 non-null   object
 1   TEXT    5971 non-null   object
 2   URL     5971 non-null   object
 3   EMAIL   5971 non-null   object
 4   PHONE   5971 non-null   object
dtypes: object(5)
memory usage: 233.4+ KB

=== Dataset 2: Missing values per column ===
LABEL    0
TEXT     0
URL      0
EMAIL    0
PHONE    0
dtype: int64

=== Dataset 2: Number of duplicate rows ===
17

### CELL 6 & CEEL 7: Standardize Labels and Remove Unwanted Rows

In [226]:
# CELL 6: Remove All "Spam" Messages from Dataset_5971.xlsx dataset

# Normalize label text to lowercase so we can filter correctly
df_5971['LABEL'] = df_5971['LABEL'].astype(str).str.strip().str.lower()

print("Label counts BEFORE removing spam:")
print(df_5971['LABEL'].value_counts())
print("-" * 60)

# Remove spam
df_5971 = df_5971[df_5971['LABEL'] != 'spam']

print("Label counts AFTER removing spam:")
print(df_5971['LABEL'].value_counts())
print("-" * 60)

print("New shape of Dataset_5971 after removing spam:", df_5971.shape)

Label counts BEFORE removing spam:
LABEL
ham         4844
smishing     638
spam         489
Name: count, dtype: int64
------------------------------------------------------------
Label counts AFTER removing spam:
LABEL
ham         4844
smishing     638
Name: count, dtype: int64
------------------------------------------------------------
New shape of Dataset_5971 after removing spam: (5482, 5)

In [228]:
# CELL 7: Standardize Label Values & Keep Only label/text Columns

print("Label counts in : SMSSmishCollection.txt")
print(df_smish['label'].value_counts())

# --- 3.1 Normalize df_smish (SMSSmishCollection.txt) labels ---

df_smish['label'] = (df_smish['label'].astype(str).str.strip().str.lower())

print("Unique labels in SMSSmishCollection.txt after normalization:")
print(df_smish['label'].value_counts())
print("-" * 60)

# --- 3.2 Process df_5971: Keep only label + text ---

# Normalize the df_5971 (Dataset_5971.xlsx) LABEL column to lowercase for mapping
df_5971['LABEL'] = (df_5971['LABEL'].astype(str).str.strip().str.lower())

# Select only the needed columns
df_5971 = df_5971[['LABEL', 'TEXT']]

# Rename to match df_5971 schema
df_5971 = df_5971.rename(columns={'LABEL': 'label','TEXT': 'text'})

print("Shape after keeping only (label, text) in Dataset_5971.xlsx:", df_5971.shape)
print("Label counts in: Dataset_5971.xlsx before mapping:")
print(df_5971['label'].value_counts())
print("-" * 60)

# --- 3.3 Map Dataset_5971 labels to final classes ham/smish ---

label_mapping = {
    'ham': 'ham',
    'smishing': 'smish',
    'smish': 'smish'
}

df_5971['label'] = df_5971['label'].map(label_mapping)

print("Label counts in: Dataset_5971.xlsx after mapping:")
print(df_5971['label'].value_counts(dropna=False))
print("-" * 60)

# --- 3.4 Check if any unknown labels remain ---

unknown_count = df_5971['label'].isna().sum()
print("Number of unmapped labels:", unknown_count)

Label counts in : SMSSmishCollection.txt
label
ham      4825
smish     747
Name: count, dtype: int64
Unique labels in SMSSmishCollection.txt after normalization:
label
ham      4825
smish     747
Name: count, dtype: int64
------------------------------------------------------------
Shape after keeping only (label, text) in Dataset_5971.xlsx: (5482, 2)
Label counts in: Dataset_5971.xlsx before mapping:
label
ham         4844
smishing     638
Name: count, dtype: int64
------------------------------------------------------------
Label counts in: Dataset_5971.xlsx after mapping:
label
ham      4844
smish     638
Name: count, dtype: int64
------------------------------------------------------------
Number of unmapped labels: 0

### CELL 8 & CELL 9: Apply cleaning in the datasets

In [138]:
# CELL 8: Basic Text Cleaning for Both Datasets

def clean_text(text):
    """
    Light text cleaning:
    - Ensure input is string
    - Strip leading/trailing whitespace
    - Replace newlines and tabs with spaces
    - Collapse multiple spaces into a single space
    """
    text = str(text)
    text = text.strip()
    # Replace newlines and tabs with spaces
    text = text.replace("\r", " ").replace("\n", " ").replace("\t", " ")
    # Collapse multiple spaces into single space
    text = re.sub(r"\s+", " ", text)
    return text

# Keep original shapes for reference
orig_smish_shape = df_smish.shape
orig_5971_shape = df_5971.shape

print("Original shapes before cleaning:")
print("df_smish:", orig_smish_shape)
print("df_5971:", orig_5971_shape)
print("-" * 60)

# Apply cleaning to both datasets
df_smish['text'] = df_smish['text'].astype(str).apply(clean_text)
df_5971['text'] = df_5971['text'].astype(str).apply(clean_text)

print("Sample cleaned texts from df_smish:")
display(df_smish[['label', 'text']].head(5))
print("-" * 60)

print("Sample cleaned texts from df_5971:")
display(df_5971[['label', 'text']].head(5))
print("-" * 60)

Original shapes before cleaning:
df_smish: (5572, 2)
df_5971: (5482, 2)
------------------------------------------------------------
Sample cleaned texts from df_smish:

   label                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2  smish  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

------------------------------------------------------------
Sample cleaned texts from df_5971:

   label                                               text
0    ham  Your opinion about me? 1. Over 2. Jada 3. Kusr...
1    ham  What's up? Do you want me to come online? If y...
2    ham                       So u workin overtime nigpun?
3    ham  Also sir, i sent you an email about how to log...
4  smish  Please Stay At Home. To encourage the notion o...

------------------------------------------------------------

In [140]:
# CELL 9: Remove Duplicate Messages Within Each Dataset


# Count duplicates based on text
dup_smish = df_smish.duplicated(subset=['text']).sum()
dup_5971 = df_5971.duplicated(subset=['text']).sum()

print("Number of duplicate texts in df_smish BEFORE drop:", dup_smish)
print("Number of duplicate texts in df_5971 BEFORE drop:", dup_5971)
print("-" * 60)

# Drop duplicates based on the text content
df_smish = df_smish.drop_duplicates(subset=['text']).reset_index(drop=True)
df_5971 = df_5971.drop_duplicates(subset=['text']).reset_index(drop=True)

print("Shapes AFTER dropping duplicates:")
print("df_smish:", df_smish.shape)
print("df_5971:", df_5971.shape)
print("-" * 60)

Number of duplicate texts in df_smish BEFORE drop: 414
Number of duplicate texts in df_5971 BEFORE drop: 86
------------------------------------------------------------
Shapes AFTER dropping duplicates:
df_smish: (5158, 2)
df_5971: (5396, 2)
------------------------------------------------------------

### CELL 10: Merge the Datasets

In [143]:
# CELL 10: Merge Both Datasets into One DataFrame


print("Shapes BEFORE merge:")
print("df_smish:", df_smish.shape)
print("df_5971:", df_5971.shape)
print("-" * 60)

# Concatenate along rows
df_all = pd.concat([df_smish, df_5971], axis=0, ignore_index=True)

print("Shape of merged dataset (df_all):", df_all.shape)
print("-" * 60)

# Quick preview
display(df_all.head(10))

Shapes BEFORE merge:
df_smish: (5158, 2)
df_5971: (5396, 2)
------------------------------------------------------------
Shape of merged dataset (df_all): (10554, 2)
------------------------------------------------------------

   label                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2  smish  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...
5  smish  FreeMsg Hey there darling it's been 3 week's n...
6    ham  Even my brother is not like to speak with me. ...
7    ham  As per your request 'Melle Melle (Oru Minnamin...
8  smish  WINNER!! As a valued network customer you have...
9  smish  Had your mobile 11 months or more? U R entitle...

### CELL 11: Check Label Distribution Before Removing Duplicates

In [146]:
# CELL 11: Final Label Distribution (ham vs smish)


print("=== Final label counts in df_all ===")
label_counts = df_all['label'].value_counts()
print(label_counts)
print()

print("=== Final label proportions in df_all (percentage) ===")
label_percent = (label_counts / len(df_all) * 100).round(2)
print(label_percent)
print("-" * 60)

print("Total rows in df_all:", len(df_all))

=== Final label counts in df_all ===
label
ham      9350
smish    1204
Name: count, dtype: int64

=== Final label proportions in df_all (percentage) ===
label
ham      88.59
smish    11.41
Name: count, dtype: float64
------------------------------------------------------------
Total rows in df_all: 10554

### CELL 12: Detect Duplicate Messages After The Merge

In [151]:
# CELL 12: Check duplicates in merged dataset (df_all)

# Count duplicates in entire merged dataset based on text
dup_all = df_all.duplicated(subset=['text']).sum()

print("Number of duplicate texts in df_all:", dup_all)

# Show first few duplicate samples
if dup_all > 0:
    print("\nExamples of duplicated rows:")
    display(df_all[df_all.duplicated(subset=['text'], keep=False)].head(10))

Number of duplicate texts in df_all: 4610

Examples of duplicated rows:

    label                                               text
0     ham  Go until jurong point, crazy.. Available only ...
1     ham                      Ok lar... Joking wif u oni...
3     ham  U dun say so early hor... U c already then say...
4     ham  Nah I don't think he goes to usf, he lives aro...
6     ham  Even my brother is not like to speak with me. ...
7     ham  As per your request 'Melle Melle (Oru Minnamin...
8   smish  WINNER!! As a valued network customer you have...
9   smish  Had your mobile 11 months or more? U R entitle...
10    ham  I'm gonna be home soon and i don't want to tal...
12  smish  URGENT! You have won a 1 week FREE membership ...

### CELL 13: Remove Duplicate Messages

In [154]:
# CELL 13: Drop duplicate texts from merged dataset


df_all = df_all.drop_duplicates(subset=['text']).reset_index(drop=True)

print("New shape of df_all after removing duplicates:", df_all.shape)
print("Final label distribution after duplicate removal:")
print(df_all['label'].value_counts())

New shape of df_all after removing duplicates: (5944, 2)
Final label distribution after duplicate removal:
label
ham      5025
smish     919
Name: count, dtype: int64

### CELL 14: Encode Labels (ham → 0, smish → 1)

In [157]:
# CELL 14: Encode labels as integers (ham -> 0, smish -> 1)

label_encoding = {'ham': 0, 'smish': 1}

df_all['label_num'] = df_all['label'].map(label_encoding)

print("Encoded label distribution:")
print(df_all['label_num'].value_counts())

display(df_all.head(10))

# Check that there is no duplicate in the text
dup_all = df_all.duplicated(subset=['text']).sum()

print("Number of duplicate texts in df_all:", dup_all)

Encoded label distribution:
label_num
0    5025
1     919
Name: count, dtype: int64

   label                                               text  label_num
0    ham  Go until jurong point, crazy.. Available only ...          0
1    ham                      Ok lar... Joking wif u oni...          0
2  smish  Free entry in 2 a wkly comp to win FA Cup fina...          1
3    ham  U dun say so early hor... U c already then say...          0
4    ham  Nah I don't think he goes to usf, he lives aro...          0
5  smish  FreeMsg Hey there darling it's been 3 week's n...          1
6    ham  Even my brother is not like to speak with me. ...          0
7    ham  As per your request 'Melle Melle (Oru Minnamin...          0
8  smish  WINNER!! As a valued network customer you have...          1
9  smish  Had your mobile 11 months or more? U R entitle...          1

Number of duplicate texts in df_all: 0

### CELL 15: Save Final Cleaned Dataset

In [160]:
# ================================================================
# CELL 15: Save the final cleaned dataset
# ================================================================

output_path = "combined_cleaned_original_datasets.csv"

df_all.to_csv(output_path, index=False, encoding="utf-8")

print("Dataset saved successfully as:", output_path)
print("Final shape:", df_all.shape)

Dataset saved successfully as: combined_cleaned_original_datasets.csv
Final shape: (5944, 3)